.loader {
  animation: rotation 1s linear infinite;
  border-radius: 50%;
  border-right: 3px solid transparent;
  border-top: 3px solid #fff;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: auto 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}