@import "../shared/styles/fonts/font.css";

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #fff;
  background-color: #0a0a0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 480px;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 16px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}