.video_list {
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  margin: 0;
  padding: 0;
  width: 100%;
}

.video_link:focus {
  border-radius: 32px;
}

.video-list-enter-active,
.video-list-leave-active {
  transition: all 0.5s ease;
}
.video-list-enter-from,
.video-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}